<?xml version="1.0" ?>
<!-- # MIT License

# Copyright (c) 2023 Miguel Ángel González Santamarta

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE. -->
<robot name="sensor_asus_xtion" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="sensor_asus_xtion" params="prefix parent *origin ">
    <xacro:property name="math_pi_over_2" value="1.5707963267948966" />

    <!-- Define camera_link with X fwd and Z up per REP-103 -->
    <link name="${prefix}_link">
      <visual>
        <origin rpy="${math_pi_over_2} 0 ${math_pi_over_2}" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://rover_description/meshes/sensors/asus_xtion/asus_xtion_pro_live.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="${math_pi_over_2} 0 ${math_pi_over_2}" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://rover_description/meshes/sensors/asus_xtion/asus_xtion_pro_live.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
          iyy="0.001" iyz="0.0"
          izz="0.001" />
      </inertial>
    </link>
    <joint name="${prefix}_joint" type="fixed">
      <axis xyz="1 0 0"/>
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
    </joint>

    <!-- Define camera_link_optical with z fwd and y down per REP-105 -->
    <link name="${prefix}_link_optical">
      <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
          iyy="0.001" iyz="0.0"
          izz="0.001" />
      </inertial>
    </link>
    <joint name="${prefix}_frame_joint" type="fixed">
      <origin xyz="0 0 0" rpy="-${math_pi_over_2} 0 -${math_pi_over_2}" />
      <parent link="${prefix}_link" />
      <child link="${prefix}_link_optical" />
    </joint>

    <!-- Frame dedicated for point cloud publishing. Based on observation: the
         cloud appears rotated relative to th
         optical frame. Create a child frame with that rotation so the point
         cloud's header frame matches its data axes. -->
    <link name="${prefix}_pointcloud_frame">
      <inertial>
        <mass value="0.0001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1e-6" ixy="0.0" ixz="0.0"
          iyy="1e-6" iyz="0.0"
          izz="1e-6" />
      </inertial>
    </link>
    <joint name="camera_pointcloud_frame_joint" type="fixed">
      <!-- Rotate +90deg about Y so optical +Z -> pointcloud +X -->
      <origin xyz="0 0 0" rpy="0 -${math_pi_over_2} ${math_pi_over_2}" />
      <parent link="${prefix}_link_optical" />
      <child link="camera_pointcloud_frame" />
    </joint>

    <gazebo reference="${prefix}_link">
    <sensor name="rgbd_camera" type="rgbd_camera">
      <always_on>true</always_on>
      <update_rate>20</update_rate>
      <visualize>true</visualize>
      <topic>camera/camera_rgbd</topic>
      <camera_info_topic>camera/camera_rgbd/camera_info</camera_info_topic>
      <camera>
        <horizontal_fov>1.25</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.3</near>
          <far>15</far>
        </clip>
        <optical_frame_id>${prefix}_pointcloud_frame</optical_frame_id>
      </camera>
    </sensor>
    </gazebo>
  </xacro:macro>
</robot>