[Unit]
Description=Beep on boot
Requires=rover.service
After=rover.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/beep.sh

[Install]
WantedBy=multi-user.target
