<?xml version="1.0"?>
<model>
  <name>rover_description</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Kevin Nickels</name>
    <email>knickels@trinity.edu</email>
  </author>
  <description>Resource directory for rover_description meshes and files. Used for model:// URI resolution.</description>
</model>